{% extends 'base.html' %} {% block content %}
<h1>Add Whiskey</h1>
<!-- Leaving the action empty makes the form post to the same url used to display it -->
<form action="{% url 'whiskey_add' %}" method="post">
  {% csrf_token %}
  <label for="name" class="form-label">Name:</label>
  <input type="text" id="name" class="form-control" />
  <label for="type" class="form-label">Type:</label>
  <select name="type" id="type" class="form-select">
    {% for type in types %}
    <option value="{{ type.0 }}">{{ type.1 }}</option>
    {% endfor %}
  </select>
  <label for="origin" class="form-label">Origin:</label>
  <input type="text" id="origin" class="form-control" />
  <label for="subType" class="form-label">Sub Type:</label>
  <input type="text" id="subType" class="form-control" />
  <label for="price" class="form-label">Price:</label>
  <input type="number" id="price" class="form-control" />
  <label for="volume" class="form-label">Volume:</label>
  <input type="text" id="volume" class="form-control" />
  <label for="description" class="form-label">Description:</label>
  <input type="text" id="description" class="form-control" />
  <input type="submit" value="Submit!" class="btn" />
</form>
{% endblock %}
