{% extends 'base.html' %} {% block content %}

<h1>Whiskey Details</h1>

<div class="card mt-3">
  <div class="card-header">{{ whiskey.name }}</div>
  <div class="card-body">
    <p>Region: {{ type.get_type_display }}</p>
    <p>Origin: {{ whiskey.origin }}</p>
    <p>Sub Type: {{ whiskey.subType }}</p>
    <p>Price: ${{ whiskey.price }}</p>
    <p>Volume: {{ whiskey.volume }}</p>
    <p>Description: {{ whiskey.description }}</p>
  </div>
</div>
<div class="container-fluid d-flex justify-content-around">
  <button
    formaction="{%url 'whiskey_update' whiskey.id%}"
    type="submit"
    class="btn btn-primary btn-lg my-3"
  >
    Edit
  </button>
  <button
    formaction="{%url 'whiskey_delete' whiskey.id%}"
    type="submit"
    class="btn btn-danger btn-lg my-3"
  >
    Delete
  </button>
</div>
{% endblock %}
