{% extends 'base.html' %} {% block content %}

<h1>Whiskey List</h1>

{% for whiskey in whiskeys %}
<div class="card mt-3" style="max-width: 1080px">
  <div class="row g-0">
    <div class="col-md-3">
      <img
        src="{{ whiskey.image_url }}"
        class="img-fluid"
        style="max-height: 250px"
      />
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <a href="{% url 'detail' whiskey.id %}">
          <div class="card-header">{{ whiskey.name }}</div>
        </a>
        {% for type in types %} {% if type.id == whiskey.type_id %}
        <p class="card-text">Region: {{ type.get_type_display }}</p>
        {% endif %}{% endfor %}
        <p class="card-text">Origin: {{ whiskey.origin }}</p>
        <p class="card-text">Sub Type: {{ whiskey.subType }}</p>
        <p class="card-text">Price: ${{ whiskey.price }}</p>
        <p class="card-text">Volume: {{ whiskey.volume }}</p>
        <p class="card-text">Description: {{ whiskey.description }}</p>
      </div>
    </div>
  </div>
</div>
{% endfor %} {% endblock %}
